@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;700;800&display=swap");

body {
  margin: 0;
  font-family: "Kanit" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  height: 60px;
  padding: 0px 120px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 24px;
  font-weight: 500;
}

.hamburger {
  display: none;
}

.cover-mobile {
  display: none;
}

.cover-desktop {
  width: 100%;
}

.object-fit-cover {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1280px) {
  nav {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 100vw;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.2);
  }
}

@media (max-width: 1024px) {
  .model-container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media (max-width: 768px) {
  .cover-mobile {
    display: block;
    width: 100%;
  }

  .cover-desktop {
    display: none;
  }

  .text-header {
    font-size: 20px !important;
  }

  .text-show {
    font-size: 24px !important;
  }

  .text-base {
    font-size: 16px !important;
    line-height: 30px !important;
  }

  .mt-60 {
    margin-top: 60px;
  }

  .mb-60 {
    margin-bottom: 60px !important;
  }

  .px-60 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .pb-60 {
    padding-bottom: 60px !important;
  }

  .w-50 {
    width: 100vw !important;
  }

  .gap-10 {
    gap: 20px !important;
  }

  .h-table {
    margin: 0px 20px !important;
  }
}

.text-header {
  font-size: 36px;
}

.text-show {
  font-size: 36px;
}
.text-base {
  font-size: 20px;
  line-height: 40px;
}

.chart-container {
  padding: 30px;
  row-gap: 30px;
  height: calc(50vh - 30px);
}

.bg-red {
  background-color: rgba(241, 109, 109, 0.376);
}

.bg-green {
  background-color: rgba(80, 218, 80, 0.756);
}
.h-full {
  height: 100%;
}

.h-chart-model {
  height: calc(50vh - 80px);
}
.h-table {
  /* display: inline-block; */
  max-height: 35vh;
  margin: 0px 60px;
  overflow-y: scroll;
}

.model-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.font-bold {
  font-weight: 700;
}

.mt-30 {
  margin-top: 30px;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
.block {
  display: block;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.w-50 {
  width: 50vw;
}

.gap-x-2 {
  column-gap: 8px;
}

.gap-10 {
  gap: 40px;
}
.gap-5 {
  gap: 20px;
}

.my-30 {
  margin: 30px 0;
}

.font-medium {
  font-weight: 500;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #fdcc8a;
}

.text-active {
  color: #fdcc8a;
}

.container {
  height: calc(100vh - 60px);
}

.blank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 60px);
}

.h-con {
  height: calc(100vh - 60px);
}

.info {
  padding: 10px;
  font: 16px;
  background: white;
  background: #ffffffcc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  line-height: 20px;
  color: #555;
}

.legend i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  border: 1px solid #c9c9c9;
}

.circle {
  float: left;
  /* border: 1px solid #222; */
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

#menuToggle {
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  /* top: 15px;
  left: 30px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #fdcc8a;
}

#menuToggle input {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100vw;
  margin: 60px 0 0 -30px;
  padding-left: 30px;
  padding-top: 160px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  z-index: 1;
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

#customers {
  border-collapse: collapse;
  width: 100%;
  overflow-y: scroll;
  height: 60px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 10px 20px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #324960;
  color: white;
  position: sticky;
  top: 0;
}

.countryLabel {
  font-family: "Kanit";
  background: transparent !important;
  border: 0 !important;
  border-radius: 0px !important;
  box-shadow: 0 0px 0px !important;
}
